*{
    margin: 0;
    padding: 0;
    background-color:#e2e4d4;
    font-family: 'Anton', sans-serif;
font-family: 'Climate Crisis', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Tilt Prism', cursive;
font-family: 'Tilt Warp', cursive;
}
.nav-bar{
    display: flex;
    align-items:flex-start;
    background-color: white;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 0 4px 5px 0 gray,
                0 4px 16px 0 gray; 
}
#logo{
    margin: 20px 0 0 25px;
    border-radius: 100px;
    background-color: white;
    box-shadow: 2px 2px 5px 3px gray,
                0 4px 0 0 gray;
    filter: contrast(300%);
    cursor: pointer;
}
i{
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    margin: 1.4rem 0 .3rem 5rem ;
    color:#08b268;
    background-color: white;
    cursor: pointer;
    
}
.nav-bar p{
    margin: 2rem 54rem 0 3rem ;
    padding: 0;
    color:black;
    background-color: white;
    letter-spacing: .4rem;
    cursor: pointer;
    
}
.nav-sign {
    margin: 15px;
    padding: 8px;
    display: flex;
    color: #ffff;
    background-color: white;
    list-style: none;
    gap: 50px;
    
}
.btn ,.btn1{
    width: 6rem;
    font-size: 18px;
    align-items: center;
    padding: .65rem;
    justify-content: space-around;
    background-color:white;
    color: black;
    letter-spacing: 1px;
    cursor: pointer;
    border:none;
    border-radius: 50px;
    box-shadow: 3px 4px 5px 0 gray,
                0 4px 16px 0 gray;
}
.btn1{
    background-color:rgb(8, 178, 104);
}
.btn:hover , .btn1:hover {
        box-shadow:none;
        transition: 1s;
        box-shadow: inset 1px 2px 2px 0 gray,
                    inset -1px -2px 2px  gray;
}
#logo:hover{
    box-shadow: none;
    transition: 1s;
    box-shadow: inset 4px 2px 2px 0 gray,
                inset -4px -3px 2px  gray;
}
.main{
    display: flex;
}
.sec-main{
        margin: 7rem 0 0 10rem;
}
.sec-main p{
    color: gray;
    letter-spacing: 1px;
    word-spacing: 1.5px;
}
.main-pera{
    font-size: 3rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}
span{
    color:rgb(8, 178, 104) ;
}
.btn2{
    margin-top: 4rem;
    height: 3rem;
    width: 10rem;
    background-color: rgb(8, 178, 104);
    color: #ffff;
    font-size: 1rem;
    border: none;
    
}
.btn2:hover{
    box-shadow:inset 10px 5px 8px rgb(135, 234, 135),
            inset -5px -5px 8px rgb(135, 234, 135);
            transition: 2s;
}
.main img{
    
    margin: 5rem 0 0 10rem;
}
.footer{
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 0px ;
    background-color:white;
}
.footer-text{
    margin: 0px;
    padding: 0px;
    background-color: #ffff;
    font-size: 20px;
}
.footer-icon , a {
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-bottom: 6px;
    background-color: #ffff;
    border-radius: 50%;
}
































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































    
}